* {
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 14px;
  font-size: 62.5%;
  font-family: sans-serif;
  background: url("../img/bg-mobile.jpg") no-repeat center 0 fixed;
  background-size: 100% auto; }

body {
  font-size: 14px;
  font-size: 1.6rem; }

h1, h2, h3, h4 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase; }

h2, h3, h4 {
  font-weight: 200; }

h1 {
  font-size: 24px;
  font-size: 2.4rem;
  color: crimson;
  text-align: center; }

a {
  text-decoration: none;
  color: inherit; }

h4 {
  font-size: 18px;
  font-size: 2rem; }

.cleaner {
  clear: both; }

.wrapper {
  height: calc(100vh - 12rem);
  overflow-y: scroll; }

li {
  list-style: none; }

ol {
  padding: 0;
  margin: 0; }

.bolder {
  font-weight: bold; }

img {
  width: 100%;
  height: auto; }

.wrapper header {
  height: calc(100vh - 7rem); }

main {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 1rem #000; }
  main .slide {
    width: 100%;
    height: auto;
    margin-bottom: calc(50vh - 7rem);
    padding-top: 5%; }
    main .slide h1 {
      margin: 3rem auto;
      font-size: 4rem;
      color: crimson;
      background-color: #222;
      text-shadow: 0 0.1rem 0 red;
      box-shadow: 0 0 1rem #000; }
    main .slide h2 {
      margin: 1rem 0;
      color: #ccc;
      text-shadow: 0 0 1rem #000; }
    main .slide p {
      margin: 1rem 0 1rem 0;
      font-size: 1.6rem;
      text-align: justify;
      color: #ccc;
      text-shadow: 0 0.1rem 0 #000; }

#home div {
  width: 15rem;
  height: 15rem;
  margin: auto;
  margin-bottom: 1rem;
  box-shadow: 0 0 1rem #000;
  border-radius: 50%; }
  #home div img {
    width: 100%;
    height: auto; }

#about .column {
  padding: 1rem;
  text-align: center; }
  #about .column .foto {
    width: 15rem;
    height: 15rem;
    margin: auto;
    box-shadow: 0 0 3rem #000;
    border-radius: 50%;
    border: crimson 0.5rem solid;
    overflow: hidden; }
  #about .column h4 {
    margin: 2rem 0;
    color: crimson;
    background-color: #222; }
  #about .column p {
    font-size: 1.2rem;
    padding: 0 1rem;
    border-left: crimson dotted 0.1rem;
    border-right: crimson dotted 0.1rem; }

#discography table, #discography tbody, #discography thead, #discography th, #discography tr, #discography td {
  border: none; }

#discography table {
  width: 100%;
  border-spacing: 0.03rem;
  font-size: 1.3rem;
  box-shadow: 0 0 1rem #000; }
  #discography table thead {
    text-transform: uppercase; }
  #discography table thead tr td, #discography table thead tr th, #discography table tbody tr td, #discography table tbody tr th {
    text-align: center;
    padding: 1rem; }
    #discography table thead tr td .disco, #discography table thead tr th .disco, #discography table tbody tr td .disco, #discography table tbody tr th .disco {
      width: 4rem;
      height: auto;
      margin: auto;
      cursor: pointer; }
  #discography table thead tr:nth-child(odd), #discography table tbody tr:nth-child(odd) {
    background: #222;
    color: crimson; }
  #discography table thead tr:nth-child(even), #discography table tbody tr:nth-child(even) {
    background: #111;
    color: crimson; }
  #discography table thead tr:hover, #discography table tbody tr:hover {
    background: crimson;
    color: #222; }
  #discography table thead tr:nth-child(1) {
    background: crimson;
    color: #222; }

footer {
  height: 7rem;
  padding: 2rem;
  background: #222;
  color: crimson;
  font-size: 1.6rem; }

.stiky-bar {
  display: flex;
  align-items: center;
  height: 7rem;
  background-color: crimson; }
  .stiky-bar .ham-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    color: crimson;
    background-color: #222;
    margin-left: 1rem;
    border-radius: 0.3rem; }
  .stiky-bar .logo {
    width: 15rem;
    height: auto;
    margin-top: 0.4rem; }
  .stiky-bar #hidden-button {
    display: none; }
  .stiky-bar nav {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    height: calc(100vh - 12rem);
    width: 100vw;
    padding: 1rem; }
    .stiky-bar nav ol {
      display: flex;
      flex-flow: row wrap; }
      .stiky-bar nav ol a, .stiky-bar nav ol label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 49%;
        height: 30%;
        margin: 0.1rem;
        padding: 0.5rem 0 0.5rem 0;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        font-size: 1.5rem;
        color: crimson;
        background-color: #222;
        text-transform: uppercase; }
        .stiky-bar nav ol a li, .stiky-bar nav ol label li {
          text-align: center; }
          .stiky-bar nav ol a li .icon, .stiky-bar nav ol label li .icon {
            font-size: 3rem;
            width: 100%; }
  .stiky-bar #hidden-button:checked + nav {
    display: flex; }

@media (min-width: 25em) {
  html {
    background: url("../img/bg.jpg") no-repeat center 0 fixed;
    background-size: cover; }
  main {
    padding: 3rem; }
    main .slide {
      height: auto; }
  #home div {
    width: 15rem;
    height: 15rem;
    margin: 5rem auto; }
  #about .integrantes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "image1 image2" "image3 image4"; }
    #about .integrantes .column {
      padding: 0.5rem; }
      #about .integrantes .column .foto {
        width: 10rem;
        height: auto; }
      #about .integrantes .column:nth-child(1) {
        grid-area: image1; }
      #about .integrantes .column:nth-child(2) {
        grid-area: image2; }
      #about .integrantes .column:nth-child(3) {
        grid-area: image3; }
      #about .integrantes .column:nth-child(4) {
        grid-area: image4; }
  .stiky-bar {
    justify-content: center; }
    .stiky-bar .ham-icon {
      display: none; }
    .stiky-bar .logo {
      width: 9rem; }
    .stiky-bar nav {
      width: auto;
      height: 7rem;
      margin: 0;
      display: block;
      position: inherit;
      background: none; }
      .stiky-bar nav ol a, .stiky-bar nav ol label {
        width: auto;
        height: 5rem;
        margin: 0 0.3rem;
        padding: 0;
        font-size: 1.3rem;
        color: #222;
        background-color: crimson; }
        .stiky-bar nav ol a li, .stiky-bar nav ol label li {
          text-align: center; }
          .stiky-bar nav ol a li .icon, .stiky-bar nav ol label li .icon {
            display: none; }
      .stiky-bar nav ol label {
        display: none; }
    .stiky-bar #hidden-button:checked + nav {
      display: block; } }

@media (min-width: 60em) {
  .wrapper {
    height: calc(100vh - 7rem); }
  main {
    padding: 10rem; }
  #about .integrantes {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "image1 image2 image3 image4"; }
    #about .integrantes .column .foto {
      width: 15rem;
      height: auto; }
  .stiky-bar {
    justify-content: center; }
    .stiky-bar .ham-icon {
      display: none; }
    .stiky-bar .logo {
      width: 15rem; }
    .stiky-bar nav {
      width: auto;
      height: 7rem;
      margin: 0;
      display: block;
      position: inherit;
      background: none; }
      .stiky-bar nav ol a, .stiky-bar nav ol label {
        margin: 0 1.5rem;
        padding: 0.5rem 0 0.5rem 0;
        font-size: 2.5rem; }
        .stiky-bar nav ol a li, .stiky-bar nav ol label li {
          text-align: center; }
          .stiky-bar nav ol a li .icon, .stiky-bar nav ol label li .icon {
            display: none; }
      .stiky-bar nav ol label {
        display: none; }
    .stiky-bar #hidden-button:checked + nav {
      display: block; } }
