.wrapper{
    height: calc(100vh - 6.99rem);
    width: 100%;
    overflow-y: scroll;
    background: $b-transparent;
    header{
        height: calc(100vh - 6.99rem);
        h1{display:none;}
        .carousel-inner{height:calc(100vh - 7rem) !important;
            .ns-w-100 {
                width: auto;
                height: calc(100vh - 7rem);
            }
        }
    }
}