main{
    width: 100%;
    padding: 2rem;
    display:flex;
    flex-flow: wrap;
    background: $b-transparent;
    box-shadow: $sombra;    
    .slide{
        width: 100%;
        height:auto;
        margin-bottom: calc(50vh - 7rem);
        padding-top:5%;
        h1{
            margin:3rem auto;
            font-size: 4rem;
            color:$primary-color;
            background-color:$third-color;
            text-shadow: 0 0.1rem 0 red;
            box-shadow: $sombra;
        }
        h2{
            margin:1rem 0;
            color:$secundary-color;
            text-shadow:$sombra;
        }
        p{
            margin:1rem 0 1rem 0; 
            font-size: 1.6rem;
            text-align: justify;
            color:#ccc;
            text-shadow: 0 0.1rem 0 #000;
        }
    }
}

#home{
    div{
        width: 15rem;
        height: 15rem;
        margin:auto;
        margin-bottom:1rem;
        box-shadow: $sombra;
        border-radius: 50%;
        img{
            width: 100%;
            height: auto;
        }
    }
}

#about{
    .column{
        padding:1rem;
        text-align: center;
        .foto{
            width: 15rem;
            height: 15rem;
            margin:auto;
            box-shadow:0 0 3rem #000;
            border-radius: 50%;
            border:$primary-color 0.5rem solid;
            overflow: hidden;
        }
        h4{
            margin:2rem 0;
            color:$primary-color;
            background-color:$third-color;
        }
        p{
            font-size: 1.2rem;
            padding: 0 1rem;
            border-left:$primary-color dotted 0.1rem;
            border-right:$primary-color dotted 0.1rem;
        }
    }

}

#discography{
    table,tbody,thead,th,tr,td{
        border:none;
    }
    table{
        width: 100%;
        border-spacing: 0.03rem;
        font-size: 1.3rem;
        box-shadow: $sombra;
        thead{
            text-transform: uppercase;
        }
        thead,tbody{
            tr{
                td,th{                    
                    text-align: center;
                    padding: 1rem;
                    .disco{
                        width: 4rem;
                        height: auto;
                        margin: auto;
                        cursor: pointer;
                    }
                }
                &:nth-child(odd){
                    background:#222;
                    color:$primary-color;
                }
                &:nth-child(even){
                    background: #111;
                    color:$primary-color;
                }
                &:hover{
                    background:$primary-color;
                    color:$third-color;
                }   
            }             
        }
        thead{
            tr:nth-child(1){
                background:$primary-color;
                color:$third-color;
            }
        }
    }
}