$primary-color:crimson;
$secundary-color:#ccc;
$third-color:#222;

$bg-desktop:url('../img/bg.jpg') no-repeat center 0 fixed;
$bg-mobile:url('../img/bg-mobile.jpg') no-repeat center 0 fixed;
$b-transparent:rgba(0,0,0,0.8);
$w-transparent:rgba(255, 255, 255, 0.8);
$title-font-family:'Libre Franklin', sans-serif;
$text-font-family:'Montserrat', sans-serif;

$sombra:0 0 1rem #000;    